div.title{
    width:1000px;
    height:200px;
     background-color: white;
     background-image: url("../images/Gen1.jpg");
    
}



div.wrap{
    width:1000px;
    margin:0px auto;
}
div.menu{
   width:1000;
   
    font-size:0;
    
}



span.hoshino{
    display:inline-block;
   width:200px;
    height:50px;
    vertical-align:top;
    background-color: antiquewhite;
   font-size:16px;
    font-family: "Impact";
    text-align:center;
    
}
span.nagaoka{
     display:inline-block;
    width:200px;
    height:50px;
    vertical-align:top;
    background-color:antiquewhite;
    font-size:16px;
    font-family:"Impact";
    text-align:center;
     
}
span.hama{
     display:inline-block;
    width:200px;
    height:50px;
    vertical-align:top;
    background-color:antiquewhite;
    font-family:"Impact";
    font-size: 16px;
    text-align:center;
     
}

span.kasuke{
     display:inline-block;
    width:200px;
    height:50px;
    vertical-align:top;
    background-color:antiquewhite;
    font-family:"Impact";
    font-size:16px;
    text-align:center;
     
}

span.eiko{
     display:inline-block;
    width:200px;
    height:50px;
    vertical-align:top;
    background-color:antiquewhite;
    font-family:"Impact";
    font-size:16px;
    text-align:center;
    
}

div.irasuto{
     width:1000px;
    font-size:0;
    margin-bottom:10px;
    
}




span.irasuto1{
    display:inline-block;
    width:200px;
    height:620px;
    vertical-align:top;
    background-color:darkgray;
    background-image: url("../images/GenHoshino4.jpg");
   
}
span.irasuto2{
     display:inline-block;
    width:200px;
    height:620px;
    vertical-align:top;
    background-color:indianred;
   background-image: url("../images/Nagaoka3.jpg");
    
}
span.irasuto3{
     display:inline-block;
    width:200px;
    height:620px;
    vertical-align:top;
    background-color: azure;
   background-image: url("../images/Hama1.jpg");
}

span.irasuto4{
     display: inline-block;
    width:200px;
    height:620px;
    vertical-align:top;
    background-color: lavenderblush;
   background-image: url("../images/Kasuke2.jpg");
}

span.irasuto5{
     display: inline-block;
    width:200px;
    height:620px;
    vertical-align:top;
    background-color: khaki;
   background-image: url("../images/Eiko2.jpg");
}





div.fttar{
     width:1000px;
    height:30px;
     background-color: salmon;
    text-align: left;
    font-size:20px;
     
    
}
